<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>New Post</title>

    <!-- Bootstrap core CSS -->
    <link href="http://www.onlinetamilportal.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://www.onlinetamilportal.com/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="http://www.onlinetamilportal.com">Online Tamil Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://www.onlinetamilportal.com">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.onlinetamilportal.com/category/live-tv">Live TV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.onlinetamilportal.com/category/trailer">Trailer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">New Post</h1>


          <hr>


          <hr>
<p class="lead">


            <!-- Preview Image
              <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            -->

          <hr>

          <!-- Post Content -->
          <form name="newpost" id="newpost" action="createpost">
            <label>Title</label>
            <input tyep="text" name="title" id="title" /><br>
            <label>Description</label>
            <input tyep="text" name="description" id="description" /><br>
            <label>Keywords</label>
            <input tyep="text" name="keywords" id="keywords" /><br>
            <label>Img</label>
            <input tyep="text" name="img" id="img" /><br>
            <label>Content</label>
            <input tyep="text" name="content" id="content" /><br>
            <label>Post Type</label>
            <input tyep="text" name="posttype" id="posttype" /><br>
            <label>Published by</label>
            <input tyep="text" name="publishedby" id="publishedby" /><br>
            <label>published On</label>
            <input tyep="text" name="publishedon" id="publishedon" /><br>
            <label>Category</label>
            <input tyep="text" name="category" id="category" /><br>
            <input type="submit" name="submit" id="submit" />
          </form>

          <hr>
<!--

          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>


          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

-->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">

                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Create Post</a>
                    </li>
                    <li>
                      <a href="#">List Post</a>
                    </li>
                    <li>
                      <a href="#">Category</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; onlinetamilportal.com 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://www.onlinetamilportal.com/vendor/jquery/jquery.min.js"></script>
    <script src="http://www.onlinetamilportal.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



    <form name="newpost" id="newpost" action="createpost">
      <label>Title</label>
      <input tyep="text" name="title" id="title" />
      <label>Description</label>
      <input tyep="text" name="description" id="description" />
      <label>Keywords</label>
      <input tyep="text" name="keywords" id="keywords" />
      <label>Img</label>
      <input tyep="text" name="img" id="img" />
      <label>Content</label>
      <input tyep="text" name="Content" id="Content" />
      <label>Post Type</label>
      <input tyep="text" name="posttype" id="posttype" />
      <label>Published by</label>
      <input tyep="text" name="publishedby" id="publishedby" />
      <label>published On</label>
      <input tyep="text" name="publishedon" id="publishedon" />
      <label>Category</label>
      <input tyep="text" name="category" id="category" />
      <input type="submit" name="submit" id="submit" />
    </form>

    <!-- Bootstrap core JavaScript -->
    <script src="http://www.onlinetamilportal.com/vendor/jquery/jquery.min.js"></script>
    <script src="http://www.onlinetamilportal.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
